# Logs
logs/
*.log

# Python cache files
__pycache__/
*/__pycache__
*.py[cod]
*$py.class

# Python distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
.aider*
.env
